@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao AppCurso!</h1>
    <br>
    <br>
    <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card border-info mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-text">Crie, edite, liste e exclua Cursos</h5>
                </div>
                <div class="card-footer">
                    <a href="Curso" class="btn btn-primary">Curso</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-info mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-text">Crie, edite, liste e exclua Módulos</h5>
                </div>
                <div class="card-footer">
                    <a href="Modulo" class="btn btn-primary">Módulo</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-info mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-text">Crie, edite, liste e exclua Aulas</h5>
                </div>
                <div class="card-footer">
                    <a href="Aula" class="btn btn-primary">Aula</a>
                </div>
            </div>
        </div>
    </div>
</div>
