@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao AppCurso!</h1>
    <p>Trata-se de um <a href="https://github.com/Valmir-de-Lima/AppCurso.git">projeto hospedado no GitHub</a>.</p>
</div>
