@{
    ViewData["Title"] = "AppCurso";
}

<div class="text-center">
    <br>
    <br>
    <h1 class="display-4">Bem-vindo ao App Coffee!</h1>
    <br>
    <br>
    <div class="card text-center border-primary mb-3">
        <h5 class="card-text">Crie, edite, liste e exclua</h5>
        <div class="card-footer">
            <div class="d-grid gap-2">
                <a href="Produto" class="btn btn-primary" type="button">Produto</a>
                <a href="Pedido" class="btn btn-primary" type="button">Pedido</a>
                <a href="Pagamento" class="btn btn-primary" type="button">Pagamento</a>
            </div>
        </div>
    </div>
</div>
</div>
