@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<p>Trata-se de um <a href="https://github.com/Valmir-de-Lima/AppCurso.git">projeto hospedado no GitHub</a>.</p>
<p>Desenvolvido por <a href="https://www.linkedin.com/in/valmir-de-lima/">Valmir de Lima</a>.</p>
